name: Build and Test
on: [push]

jobs:
  bat:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: "12"
      - name: Perform npm tasks
        run: npm run ci

      - name: Perform 'setup-matlab'
        uses: matlab-actions/setup-matlab
        env:
          MATHWORKS_TOKEN: ${{ secrets.MATHWORKS_TOKEN }}

      - name: Exercise RunMATLABCommand
        uses: ./
        with:
          command: "disp('hello world');"
